mixin dropdown
  .dropdown
    button.btn.btn-secondary.dropdown-toggle(
      type="button" 
      id="adminBtn" 
      data-bs-toggle="dropdown" 
      aria-expanded="false"
    ) #{name}
    ul.dropdown-menu.dropdown-menu-end.dropdown-menu-dark(aria-labelledby="adminBtn")
      li 
        a.dropdown-item(href='/admin/logout') Logout