extends layout

block metadata 
  meta(name="description" content="Các mẹ vẫn còn phân vân có nên sử dụng dịch vụ chăm sóc mẹ và bé? Bầu Spa với đội ngũ y, bác sĩ chuyên môn, quy trình được nghiên cứu khoa học, phù hợp với phụ nữ Việt Nam")
  meta(name="keywords" content="vì sao nên sử dụng dịch vụ chăm sóc mẹ và bé chuyên nghiệp, vì sao nên sử dụng dịch vụ chăm sóc mẹ và bé, vì sao nên chăm sóc mẹ và bé ở bầu spa, dịch vụ spa bầu, có nên sử dụng dịch vụ chăm sóc mẹ và bé")
  meta(name="language" content="vietnamese")
  meta(name="author" content="Bầu Spa")

block content 
  
  section
    .container-md.my-4 
      h1.text-center Vì sao nên sử dụng dịch vụ chăm sóc mẹ và bé chuyên nghiệp?
      .row.py-4.g-5
        each intro in introList1
          .col-6.col-md-4
            .card.h-100
              - var imgSrc="images/about/" + intro.image
              img.mt-3.mx-auto(src=imgSrc class="card-img-top" alt="..." style="width: 90px")
              .card-body.text-center
                p.card-text #{intro.content}

  section
    .container-md.my-4 
      h2.text-center 6 lý do nên chọn Bầu Spa:
      .row.py-4.g-5
        each intro in introList2
          .col-6.col-md-4
            .card.h-100
              - var imgSrc="images/about/" + intro.image
              img.mt-3.mx-auto(src=imgSrc class="card-img-top" alt=intro.title style="width: 90px")
              .card-body.text-center
                h3.text-success.text-uppercase.card-title #{intro.title}
                p.card-text #{intro.content}
    
     
      
    
