extends ../layout 

block metadata 
  meta(name="description" content="Bầu Spa chuyên cung cấp các dịch vụ chăm sóc, massage cho mẹ bầu, mẹ sau sinh và đặc biệt là bơi thủy liệu cho bé")
  meta(name="keywords" content="Dịch vụ chăm sóc mẹ bầu, dịch vụ chăm sóc mẹ và bé, dịch vụ chăm sóc mẹ và bé sau sinh")
  meta(name="language" content="vietnamese")
  meta(name="author" content="Bầu Spa")

block css   
  link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css")
  link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css")

block content 
  
  each category in category_list
    .container-lg.my-4
      h1.text-center.my-4 Dịch vụ cho #{category.name} 
      .container.mb-4.pb-4
        .my-slick
          each service in service_list
            if service.category.includes(category._id)
              a(href=service.url style='text-decoration: none')
                .container.px-md-4.text-center
                  .service-box
                    .service-box__img
                      img.img-fluid(
                        src=service.imgUrl 
                        alt=service.name
                      )
                    .service-box__title
                      h3 #{service.name}

      
   

block javascript 
  script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js")

  script(type="text/javascript"). 
    $(document).ready(function(){
      $('.my-slick').slick({
        slidesToShow: 4,
        slidesToScroll: 4,
        infinite: false,
        arrows: true,
        dots: false,
        responsive: [
          {
            breakpoint: 1200,
            settings: {
              slidesToShow: 4,
              slidesToScroll: 4,
            }
          },
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 4,
              slidesToScroll: 4,
              arrows: false,
              dots: true,
            }
          },
          {
            breakpoint: 768,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 3,
              arrows: false,
              dots: true,
            }
          },
          // You can unslick at a given breakpoint now by adding:
          // settings: "unslick"
          // instead of a settings object
        ]
      });
    });