nav.navbar.navbar-expand-lg.sticky-top.shadow.navbar-light.menu
  .container-lg
    button.navbar-toggler(
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarHeader" 
      aria-controls="navbarHeader" 
      aria-expanded="false" 
      aria-label="Toggle navigation"
    )
      span.navbar-toggler-icon

    a.navbar-brand(href='#') 
      img(src='images/logo.png' alt='Logo' style='width: 5rem;')

    button.d-none.d-md-block.d-lg-none.rounded-pill.btn-rounded +1 728365413
      span 
        i.fas.fa-phone-alt

    #navbarHeader.collapse.navbar-collapse
      ul.navbar-nav.mx-auto
        li.nav-item
          a.nav-link.active(aria-current="page" href="#") Giới thiệu
        li.nav-item
          a.nav-link(href="#") Dịch vụ
        li.nav-item
          a.nav-link(href="#") Bài viết
    
    button.d-md-none.d-lg-block.rounded-pill.btn-rounded +1 728365413
      span 
        i.fas.fa-phone-alt

    

    
