nav.navbar.navbar-expand-lg.sticky-top.shadow.navbar-light.menu
  .container-lg
    button.navbar-toggler(
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarHeader" 
      aria-controls="navbarHeader" 
      aria-expanded="false" 
      aria-label="Toggle navigation"
    )
      span.navbar-toggler-icon

    a.navbar-brand(href='/') 
      img.img-logo(src='images/logo.png' alt='Logo')

    a.d-block.d-lg-none.text-decoration-none(href='tel:0389639908')
      button.rounded-pill.btn-rounded 038 963 9908
        span 
          i.fas.fa-phone-alt

    #navbarHeader.collapse.navbar-collapse
      ul.navbar-nav.mx-auto
        li.nav-item
          a.nav-link.active(aria-current="page" href="/about-us") Giới thiệu
        li.nav-item
          a.nav-link(href="/services") Dịch vụ
        li.nav-item
          a.nav-link(href="/posts") Bài viết
    
    a.d-none.d-lg-block.text-decoration-none(href='tel:0389639908') 
      button.rounded-pill.btn-rounded 038 963 9908
        span 
          i.fas.fa-phone-alt

    

    
